Repository MontiCore/siunits: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, test, deploy

.gitlab-ci.yml:

# (c) https://github.com/MontiCore/monticore

image: maven:3.5.4-jdk-8-alpine

variables:
  GRADLE_OPTS: "-Dorg.gradle.daemon=false"
  MAVEN_CLI_OPTS: "--settings settings.xml --batch-mode"

cache:
  paths:
    - .gradle/wrapper
  key: ${CI_COMMIT_REF_SLUG}

before_script:
  - chmod +x gradlew
  - export GRADLE_USER_HOME=`pwd`/.gradle

stages:
  - build
  - test
  - deploy

build:
  stage: build
  script:
    - "./gradlew assemble --refresh-dependencies $GRADLE_OPTS $ARGS1"
  artifacts:
    paths:
      - "."
    expire_in: 1 week
  except:
    changes:
    - pom.xml
#    - .gitignore
#    - README.md
#    - .gitlab-ci.yml

test:
  stage: test
  dependencies:
    - build
  script:
    - "./gradlew check $GRADLE_OPTS $ARGS2"
  except:
    changes:
    - pom.xml
    - .gitignore
    - README.md
    - .gitlab-ci.yml

deploy:
  stage: deploy
  dependencies:
    - build
  script:
    - "./gradlew publish $GRADLE_OPTS $ARGS3 -PmavenPassword=$password -PmavenUser=$username"
  only:
    - master
    - dev
  except:
    changes:
    - pom.xml
    - .gitignore
    - README.md
    - .gitlab-ci.yml

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: build

Update README.md
  README.md
Due: build

Update gradle.properties
  gradle.properties
Due: build, test, deploy

Update settings.xml
  settings.xml
Due: build, test, deploy

New Test structure
  src/test/java/de/monticore/lang/testsijava/testsijava/_symboltable/TestSIJavaFlatExpressionScopeSetter.java
  src/test/java/de/monticore/lang/testsijava/testsijava/_symboltable/TestSIJavaSymbolTableCreator.java
  src/test/java/de/monticore/lang/testsijava/testsijavawithcustomtypes/_symboltable/TestSIJavaWithCustomTypesFlatExpressionScopeSetter.java
  src/test/java/de/monticore/lang/testsijava/testsijavawithcustomtypes/_symboltable/TestSIJavaWithCustomTypesSymbolTableCreator.java
  src/test/java/de/monticore/types/check/DeriveSymTypeAbstractTest.java
  src/test/java/de/monticore/types/check/DeriveSymTypeOfAssignmentExpressionTest.java
  src/test/java/de/monticore/types/check/DeriveSymTypeOfAssignmentExpressionWithSIUnitTypesTest.java
  src/test/java/de/monticore/types/check/FlatExpressionScopeSetter.java
  src/test/java/de/monticore/types/check/FlatExpressionScopeSetterAbs.java
Due: build, test, deploy

Update SIUnits.md
  src/main/grammars/de/monticore/SIUnits.md
Due: build, test, deploy

New Test structure
  build.gradle
  gradle.properties
  src/main/java/de/monticore/types/check/DeriveSymTypeOfSIUnit.java
  src/test/grammars/de/monticore/expressions/CombineExpressionsWithLiterals.mc4
  src/test/grammars/de/monticore/expressions/CombineExpressionsWithSIUnitLiterals.mc4
  src/test/java/de/monticore/expressions/combineexpressionswithliterals/_cocos/CombineExpressionsWithLiteralsCoCoChecker.java
  src/test/java/de/monticore/expressions/combineexpressionswithliterals/_cocos/NoClassExpressionForGenerics.java
  src/test/java/de/monticore/expressions/combineexpressionswithliterals/_cocos/TestNoClassExpressionForGenerics.java
  src/test/java/de/monticore/expressions/combineexpressionswithsiunitliterals/_symboltable/CombineExpressionsWithSIUnitLiteralsScope.java
  src/test/java/de/monticore/lang/testsijava/testsijava/_symboltable/TestSIJavaFlatExpressionScopeSetter.java
  src/test/java/de/monticore/lang/testsijava/testsijava/_symboltable/TestSIJavaSymbolTableCreator.java
  src/test/java/de/monticore/lang/testsijava/testsijavawithcustomtypes/_symboltable/TestSIJavaWithCustomTypesFlatExpressionScopeSetter.java
  src/test/java/de/monticore/lang/testsijava/testsijavawithcustomtypes/_symboltable/TestSIJavaWithCustomTypesSymbolTableCreator.java
  src/test/java/de/monticore/siunits/MultDivTest.java
  src/test/java/de/monticore/types/check/CombineExpressionWithLiteralsFlatScopeSetter.java
  src/test/java/de/monticore/types/check/CombineExpressionWithSIUnitLiteralsFlatScopeSetter.java
  src/test/java/de/monticore/types/check/DeriveSymTypeAbstractTest.java
  src/test/java/de/monticore/types/check/DeriveSymTypeOfAssignmentExpressionSIExtended.java
  src/test/java/de/monticore/types/check/DeriveSymTypeOfAssignmentExpressionTest.java
  src/test/java/de/monticore/types/check/DeriveSymTypeOfAssignmentExpressionWithSIUnitTypesTest.java
  src/test/java/de/monticore/types/check/DeriveSymTypeOfCombineExpressions.java
  src/test/java/de/monticore/types/check/DeriveSymTypeOfCombineExpressionsDelegator.java
  src/test/java/de/monticore/types/check/DeriveSymTypeOfCombineExpressionsWithSIUnitTypesDelegator.java
  src/test/java/de/monticore/types/check/DeriveSymTypeOfCommonExpressionSIExtended.java
  src/test/java/de/monticore/types/check/DeriveSymTypeOfCommonExpressionTest.java
  src/test/java/de/monticore/types/check/DeriveSymTypeOfCommonExpressionWithSIUnitTypesTest.java
  src/test/java/de/monticore/types/check/DeriveSymTypeOfExpressionSIExtended.java
  src/test/java/de/monticore/types/check/DeriveSymTypeOfExpressionTest.java
  src/test/java/de/monticore/types/check/DeriveSymTypeOfExpressionWithSIUnitTypesTest.java
  src/test/java/de/monticore/types/check/DeriveSymTypeOfLiteralsTest.java
  src/test/java/de/monticore/types/check/DeriveSymTypeOfMCCommonLiteralsTest.java
  src/test/java/de/monticore/types/check/FlatExpressionScopeSetterAbs.java
  src/test/java/de/monticore/types/check/SynthesizeSymTypeOfCombinedTypes.java
Due: build, test, deploy

added link checking and corresponding stage+job
  .gitlab-ci.yml
  check/downloadlinkchecker.sh
  check/mdlinkcheck.sh
Due: build

added check stage
  .gitlab-ci.yml
Due: build

added copyrights
  check/downloadlinkchecker.sh
  check/mdlinkcheck.sh
Due: build, test, deploy

checking all MD files in file tree now
  .gitlab-ci.yml
  check/downloadlinkchecker.sh
  check/mdlinkcheck.sh
Due: build

Update TestSIJava.md
  src/test/grammars/de/monticore/lang/testsijava/TestSIJava.md
Due: build, test, deploy

Update build.gradle
  build.gradle
Due: build, test, deploy

adjust to mc changes
  src/test/java/de/monticore/lang/testsijava/SIJavaCoCoTest.java
  src/test/java/de/monticore/lang/testsijava/SIJavaWithCustomTypesCoCoTest.java
  src/test/java/de/monticore/lang/testsijava/testsijava/_symboltable/TestSIJavaSymbolTableCreator.java
  src/test/java/de/monticore/lang/testsijava/testsijava/generator/Generator.java
  src/test/java/de/monticore/lang/testsijava/testsijava/generator/PrintAsJavaClassTest.java
  src/test/java/de/monticore/lang/testsijava/testsijavawithcustomtypes/_symboltable/TestSIJavaWithCustomTypesSymbolTableCreator.java
Due: build, test, deploy

First try for new traverser
  pom.xml
  src/main/grammars/de/monticore/SIUnits.md
  src/main/java/de/monticore/siunitliterals/prettyprint/MyMCCommonLiteralsPrettyPrinter.java
  src/main/java/de/monticore/siunitliterals/prettyprint/SIUnitLiteralsPrettyPrinter.java
  src/main/java/de/monticore/siunits/prettyprint/SIUnitsPrettyPrinter.java
  src/main/java/de/monticore/siunittypes4computing/prettyprint/MyMCBasicTypesPrettyPrinter.java
  src/main/java/de/monticore/siunittypes4computing/prettyprint/SIUnitTypes4ComputingPrettyPrinter.java
  src/main/java/de/monticore/siunittypes4math/prettyprint/SIUnitTypes4MathPrettyPrinter.java
  src/test/java/de/monticore/customsiunittypes4computing/CustomSIUnitTypes4ComputingTest.java
  src/test/java/de/monticore/customsiunittypes4computing/prettyprint/CustomSIUnitTypes4ComputingPrettyPrinter.java
  src/test/java/de/monticore/lang/testsijava/testsijava/generator/prettyprint/MyAssignmentExpressionsPrettyPrinter.java
  src/test/java/de/monticore/siunittypes4computing/SIUnitTypes4ComputingTest.java
  src/test/java/de/monticore/siunittypes4math/SIUnitTypesTest.java
Due: none

Test comment fixes
  src/test/java/de/monticore/lang/testsijava/GeneratorTest.java
  src/test/java/de/monticore/lang/testsijava/testsijava/generator/Generator.java
  src/test/java/de/monticore/lang/testsijava/testsijava/generator/prettyprint/TestSIJavaPrettyPrinter.java
  src/test/resources/compare/test/de/monticore/lang/testsijava/testsijava/Main.java
  src/test/resources/compare/test/de/monticore/lang/testsijava/testsijava/Main2.java
  src/test/resources/compare/test/de/monticore/lang/testsijava/testsijava/MyClass.java
  src/test/resources/compare/test/de/monticore/lang/testsijava/testsijava/TestPrintAndValue.java
  src/test/resources/test/de/monticore/lang/testsijava/testsijava/TestPrintAndValue.sijava
Due: build, test, deploy

BR-sy
  README.md
  src/main/grammars/de/monticore/SIUnits.md
  src/test/grammars/de/monticore/lang/testsijava/TestSIJava.md
Due: build

MC 6.7.0
  build.gradle
  gradle.properties
  pom.xml
  src/main/java/de/monticore/siunitliterals/prettyprint/SIUnitLiteralsPrettyPrinter.java
  src/main/java/de/monticore/siunits/prettyprint/SIUnitsPrettyPrinter.java
  src/main/java/de/monticore/siunittypes4computing/prettyprint/SIUnitTypes4ComputingPrettyPrinter.java
  src/main/java/de/monticore/siunittypes4math/prettyprint/SIUnitTypes4MathPrettyPrinter.java
  src/test/java/de/monticore/customsiunittypes4computing/prettyprint/CustomSIUnitTypes4ComputingPrettyPrinter.java
  src/test/java/de/monticore/lang/testsijava/testsijava/generator/PrintAsJavaClass.java
  src/test/java/de/monticore/lang/testsijava/testsijava/generator/prettyprint/MyCommonExpressionsPrettyPrinter.java
  src/test/java/de/monticore/types/check/DeriveSymTypeOfCombineExpressionsDelegator.java
  src/test/java/de/monticore/types/check/DeriveSymTypeOfCombineExpressionsWithSIUnitTypesDelegator.java
  src/test/java/de/monticore/types/check/DeriveSymTypeOfTestSIJava.java
  src/test/java/de/monticore/types/check/DeriveSymTypeOfTestSIJavaWithCustomSIUnitTypes4Computing.java
  src/test/java/de/monticore/types/check/FlatExpressionScopeSetter.java
  src/test/java/de/monticore/types/check/SynthesizeSymTypeFromCombineExpressionsWithLiteralsDelegator.java
  src/test/java/de/monticore/types/check/SynthesizeSymTypeFromTestSIJava.java
  src/test/java/de/monticore/types/check/SynthesizeSymTypeFromTestSIJavaWithCustomSIUnitTypes4Computing.java
  src/test/java/de/monticore/types/check/SynthesizeSymTypeOfCombinedTypes.java
Due: none

Fix tests
  src/test/java/de/monticore/types/check/DeriveSymTypeOfCommonExpressionTest.java
Due: build, test, deploy

gradle
  build.gradle
Due: build, test, deploy

fix
  src/test/java/de/monticore/lang/testsijava/testsijava/_cocos/TestSIJavaTypeCheckCoCo.java
  src/test/java/de/monticore/lang/testsijava/testsijavawithcustomtypes/_cocos/TestSIJavaWithCustomTypesTypeCheckCoCo.java
Due: build, test, deploy

gradle/ci
  build.gradle
  gradle.properties
Due: build, test, deploy

release 6.7.0
  build.gradle
  gradle.properties
Due: build, test, deploy

new version 6.8.0-SNAPSHOT
  gradle.properties
Due: build, test, deploy

adapt to MC changes
  src/test/grammars/de/monticore/expressions/CombineExpressionsWithLiterals.mc4
  src/test/java/de/monticore/types/check/DeriveSymTypeOfCombineExpressionsDelegator.java
  src/test/java/de/monticore/types/check/DeriveSymTypeOfCombineExpressionsWithSIUnitTypesDelegator.java
  src/test/java/de/monticore/types/check/FlatExpressionScopeSetter.java
Due: build, test, deploy

gradle/ci
  build.gradle
Due: build, test, deploy

fix typecheck
  src/test/grammars/de/monticore/expressions/CombineExpressionsWithLiterals.mc4
  src/test/java/de/monticore/types/check/DeriveSymTypeOfCombineExpressionsDelegator.java
Due: build, test, deploy

adapt to mc
  src/test/java/de/monticore/lang/testsijava/SIJavaCoCoTest.java
  src/test/java/de/monticore/lang/testsijava/SIJavaWithCustomTypesCoCoTest.java
  src/test/java/de/monticore/lang/testsijava/testsijava/_cocos/TestSIJavaTypeCheckCoCo.java
  src/test/java/de/monticore/lang/testsijava/testsijava/_symboltable/TestSIJavaScopesGenitor.java
  src/test/java/de/monticore/lang/testsijava/testsijava/_symboltable/TestSIJavaSymbolTableCreator.java
  src/test/java/de/monticore/lang/testsijava/testsijava/generator/Generator.java
  src/test/java/de/monticore/lang/testsijava/testsijava/generator/PrintAsJavaClassTest.java
  src/test/java/de/monticore/lang/testsijava/testsijavawithcustomtypes/_cocos/TestSIJavaWithCustomTypesTypeCheckCoCo.java
  src/test/java/de/monticore/lang/testsijava/testsijavawithcustomtypes/_symboltable/TestSIJavaWithCustomTypesScopesGenitor.java
  src/test/java/de/monticore/lang/testsijava/testsijavawithcustomtypes/_symboltable/TestSIJavaWithCustomTypesSymbolTableCreator.java
Due: build, test, deploy

BR
  src/main/grammars/de/monticore/SIUnits.md
Due: build, test, deploy
